
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$background: #242582;
$secondary: #F64C72;
$teritary: #553D67;
$extra: #99738E;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $background;
}

nav {
    display: flex;
    margin: 20px 150px;
    justify-content: space-between;
    align-items: center;
    .navbar-links {
        position: relative;
        z-index: 10;
        a {
            color: white;
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
            }
        }
        .dropdown {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            .trigger {
                &:hover{
                    &+.menu {
                        display: flex;
                        top: 100%;
                    }
                }
            }
            .menu {
                display: none;
                position: absolute;
                flex-direction: column;
                background-color: white;
                box-shadow: 5px 5px 5px gray;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                left: 50%;
                transform: translateX(-50%);
                a {
                    flex: 1;
                    border-radius: 0;
                    margin: 0 20px;
                    padding: 25px 40px;
                    color: black;
                    border-bottom: 1px solid lightgray;
                    &:hover{
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
                &:hover {
                    display: flex;
                    top: 100%;
                }
            }
            &:hover {
                border-radius: 50px;
                background-color: $secondary;
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        img {
            width: 25%;
            // margin-right: 25px;
        }
    }
    .counter{
        font-size: small;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }
}

.navbtn {
    display: none;
}

.account-action {
    display: inline-flex;
    font-weight: bold;
    .cart {
        display: flex;
        flex-direction: row;
    }

    a {
        position: relative;
        color: white;
        margin-right: 15px;
        text-decoration: none;
        i {
            color: white;
            display: flex;
            align-items: center;
            font-size: 25px;
            &::after{
                font-family: 'Quicksand', sans-serif;
                font-size: 15px;
                padding: 10px;
            }
            &.fa-shopping-cart::after{
                content: 'Cart';
            }
            &.fa-user::after{
                content: 'Account';
            }
        }
    }
    .counter { 
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        .trigger {
            &:hover{
                &+.menu {
                    display: flex;
                    top: 100%;
                }
            }
        }
        .menu {
            display: none;
            background-color: white;
            position: absolute;
            top: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 5px 5px 5px gray;
            a {
                padding: 20px 25px;
                margin: 0;
                color: black;
                border-bottom: 1px solid lightgray;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:hover {
                display: flex;
            }
        }
    }
}

.content {
    display: flex;
    font-size: 18px;
    background-color: white;
    border-radius: 50px;
    margin: 0px 5%;
    padding: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    a{
        color: white;
        text-decoration: none;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    margin: 50px auto;
    .heading {
        font-size:xx-large;
        font-weight: bold;
        margin: 25px 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .fields {
            text-align: left;
            display: flex;
            position: relative;
            margin: 10px;
            justify-content: space-between;
            align-items: center;
            label {
                font-weight: bold;
            }
            input {
                margin: 10px;
                font-size: large;
            }
            .errors {
                position: absolute;
                color: red;
                bottom: -35%;
                right: 0;
            }
            .fa-eye, .fa-eye-slash{
                position: absolute;
                right: 10px;
                padding: 10px;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 25px 10px;
            button {
                background-color: $teritary;
                color: white;
                border: none;
                font-weight: bold;
                font-size: large;
                padding: 10px 40px;
                border-radius: 10px;
            }
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: border 0.5s ease-in-out;
    padding: 15px;
    margin: 10px;
    img {
        height: 300px;
        width: 300px;
    }
    .summary {
        font-size: large;
        padding: 10px;
        .name {
            font-weight: bold;
        }
        .price {
            &::before{
                content: 'Rs.';
            }
        }
    }
    &:hover {
        border: 1px solid $secondary;
    }
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    .image-showcase {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: 0 auto;
        .magnifier {
            display: none;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px black;
            position: absolute;
            pointer-events: none;
            transform: translate(-50%, -50%);
            transform-origin: top;
            background-repeat: no-repeat;
            background-color: white;
            transition: scale 0.5s ease;
        }
        .images {
            scroll-behavior: smooth;
            width: 500px;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            scrollbar-width: none;
            -ms-overflow-style: none;
            img {
                scroll-snap-align: center;
                margin: 10px;
                height: 500px;
            }
            &::-webkit-scrollbar {
                width: 0;
            }
        }
        .image-nav {
            padding: 3px 20px 10px 20px;
            background-color: $secondary;
            color: white;
            font-size: xx-large;
            font-weight: bolder;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 auto;
        .bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                .name {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .price {
                    &::before{
                        content: 'Rs.';
                    }
                }
            }
        }
        .buttons {
            margin: 20px 0;
            form {
                display: inline-flex;
                button {
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    &.buy {
                        font-weight: bolder;
                        background-color: $secondary;
                    }
                    &.cart {
                        background-color: $teritary;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .description {
            color: black;
        }
    }
}

.cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    h2 {
        margin: 20px;
    }
    .item {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 200px;
            width: 200px;
        }
        .details {
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: space-evenly;
            .price, .total > div{
                &::before{
                    content: 'Rs.';
                }
            }
            .qty {
                margin: 10px 0;
                div {
                    display: flex;
                    align-items: stretch;
                    justify-content: stretch;
                    margin-top: 5px;
                    input {
                        margin: 0;
                        width: 30px;
                        text-align: center;
                        border: 1px solid lightgray;
                        border-radius: 0;
                        pointer-events: none;
                        user-select: none;
                    }
                    button {
                        font-weight: bold;
                        border: 1px solid lightgray;
                        background-color: whitesmoke;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 10px;
                    }
                }
            }
            #delete {
                display: flex;
                justify-content: stretch;
                button {
                    position: relative;
                    flex: 1;
                    color: white;
                    border: 0;
                    border-radius: 5px;
                    background-color: rgb(255, 50, 50);
                    padding: 10px;
                    cursor: pointer;
                    i {
                        position: relative;
                        left: 25%;
                        transition: all 0.5s ease;
                        margin: 0 5px;
                    }
                    .text {
                        opacity: 0;
                        font-weight: bold;
                        transition: opacity 0.5s ease;
                    }
                    &:hover {
                        i {
                            left: 0;
                        }
                        .text {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .grand {
        margin: 20px;
        text-align: right;
        font-weight: bold;

        span {
            &::before {
                content: 'Rs.';
            }
        }
    }
    #checkout {
        padding: 10px;
        background-color: $secondary;
        color: white;
        font-weight: bold;
        font-size: larger;
        border: none;
        cursor: pointer;
    }
}


$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    * {
        font-size: 15px;
    }
    nav {
        margin: 0;
        background-color: $background;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -235px;
        transition: margin-top 0.5s ease;
        .logo {
            margin: 10px;
            img {
                height: 30px;
                width: 30px;
            }
        }
        .navbar-links {
            margin-top: 10px;
            display: flex;
            align-items: center;
            background-color: $background;
            flex-direction: column;
            width: 100%;
        }
    }
    .product {
        img {
            height: 250px;
            width: 250px;
        }
    }
    .account-action {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 11px;
        right: 0;
        z-index: 1;
        margin: 10px 0 10px 0;
        i {
            font-size: 20px;
            &::after{
                content: none !important;
            }
        }
        a {
            position: relative;
            color: white;
            margin-left: 10px;
            text-decoration: none;
        }
        .dropdown {
            align-items: flex-end;
            .menu {
                a {
                    padding: 10px 20px;
                }
            }
        }
    }   
    .navbtn {
        position: absolute;
        top: 2px;
        z-index: 15;
        margin: 15px 0 0 15px;
        height: 35px;
        width: 30px;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        user-select: none;
        .line {
            width: 100%;
            margin: 15% 0;
            height: 2px;
            background-color: white;
            transform-origin: right;
            transform: rotate(0deg);
            transition: transform 0.5s ease, opacity 0.5s ease
        }
        
    }
    .close {
        .line:first-child {
            transform-origin: right;
            transform: rotate(-45deg);
        }
        .line:last-child {
            transform-origin: right;
            transform: rotate(45deg);
        }
        .line:nth-child(2){
            opacity: 0;
        }
        
    }
    .content {
        z-index: 1;
        margin: 10px 10px;
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        flex-direction: column;
        position: relative;
        .image-showcase{
            justify-content: center;
            .images{
                width: 250px;
                img{
                    height: 250px;
                }
            }
            .image-nav {
                padding: 0 10px 6px 10px;
                font-size: x-large;
            }
        }
        .details{
            width: 100%;
            margin: 10px;
            .buttons {
                display: flex;
                position: fixed;
                left: 0;
                bottom: 0;
                margin: 0;
                width: 100%;
                height: 10%;
                form {
                    flex: 1;
                    justify-content: center;
                    button {
                        display: flex;
                        border-radius: 0;
                        border: none;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                    }
                }
            }
        }
    }
    .auth-form {
        margin: 0;
        .heading {
            text-align: center;
        }
        form {
            align-items: flex-start;
            .fields {
                flex-direction: column;
                align-items: flex-start;
                margin: 20px 0;
                input{
                    margin: 10px 0;
                    padding: 10px 5px;
                }
                .errors {
                    top: 100%;
                    left: 0;
                    transform: translateY(-40%);
                }
                .fa-eye, .fa-eye-slash{
                    top: 40%;
                    right: 0;
                }
            }
            .buttons {
                width: 100%;
                margin: 10px auto;
                flex-direction: column;
                button {
                    margin: 10px 0;
                }
            }
        }
    }
    .cart{
        align-items: center;
        h2{
            font-size: 26px;
        }
        margin: 0;
        button{
            width: 50%;
        }
    }
}