
// General Styling

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $background;
}

body.dark {
    background-color: $dark-background;
    nav {
        background-color: $dark-background;
    }
    .content {
        background-color: $dark-content;
        * {
            color: white;
        }
    }
    i {
        filter: invert(1);
    }
}

a {
    text-decoration: none;
}

.fas::after {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: $content;
    border-radius: 50px;
    margin: 0px 5%;
    padding: 50px;
}

.heading {
    font-size:xx-large;
    font-weight: bold;
    margin: 25px 10px;
}

// Navigation Bar Styling

nav {
    display: flex;
    margin: 20px 150px;
    justify-content: space-between;
    align-items: center;
    .navbar-links {
        position: relative;
        z-index: 10;
        a {
            color: white;
            padding: 10px;
            font-weight: bold;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
            }
        }
        .dropdown {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            .trigger {
                &:hover{
                    &+.menu {
                        display: flex;
                        top: 100%;
                    }
                }
            }
            .menu {
                display: none;
                position: absolute;
                flex-direction: column;
                background-color: white;
                box-shadow: 5px 5px 5px gray;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                left: 50%;
                transform: translateX(-50%);
                a {
                    flex: 1;
                    border-radius: 0;
                    margin: 0 20px;
                    padding: 25px 40px;
                    color: black;
                    border-bottom: 1px solid lightgray;
                    &:hover{
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
                &:hover {
                    display: flex;
                    top: 100%;
                }
            }
            &:hover {
                border-radius: 50px;
                background-color: $secondary;
            }
        }
        .switch {
            position: absolute;
            top: 8px;
            right: 165%;
            display: flex;
            height: 25px;
            width: 50px;
            background-color: lightgray;
            border-radius: 20px;
            border: 1px solid white;
            .block {
                position: relative;
                margin-left: 0;
                background: white;
                border-radius: 20px;
                height: 23px;
                width: 24px;
                transition: margin-left 0.3s ease;
                img {
                    margin: 3px;
                    position: absolute;
                    height: 17px;
                    width: 17px;
                    &.hide {
                        display: none;
                    }
                }
            }
            &.activated {
                background-color: darkblue;
                .block {
                    margin-left: 25px;
                }
            }
        }
    }
    // #search {
    //     display: inline-flex;
    //     position: relative;
    //     align-items: stretch;
    //     justify-content: flex-end;
    //     margin-left: 15px;
    //     input {
    //         z-index: 0;
    //         transform: scaleX(0%);
    //         transform-origin: left;
    //         border: 0;
    //         border-radius: 0 50px 50px 0;
    //         padding: 10px 10px 10px 30px;
    //         height: 100%;
    //         margin-right: 20px;
    //         transition: transform 0.5s ease;
    //         &:hover, &:focus {
    //             transform: scaleX(100%);
    //         }
    //     }
    //     button {
    //         z-index: 1;
    //         position: absolute;
    //         border-radius: 50px;
    //         left: -5%;
    //         top: 49%;
    //         transform: translateY(-50%);
    //         padding: 10px;
    //         border: 0;
    //         background-color: white;
    //         &:hover {
    //             &+input {
    //                 transform: scaleZ(100%);
    //             }
    //         }
    //     }
    // }
    &:focus {
        input{
            background-color: blue;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-weight: bold;
        font-size: 22px;
    }
    .counter{
        font-size: small;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }
}

.account-action {
    display: inline-flex;
    a {
        font-weight: bold;
        color: white;
        position: relative;
    }
}

.navbtn {
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    a{
        color: white;
    }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    * {
        font-size: 15px;
    }
    body.dark {
        nav {
            background-color: $dark-background;
            .navbar-links {
                background-color: $dark-background;
                color: white;
            }
        }
    }
    .content {
        padding: 50px 10px;
    }
    i::after {
        content: '' !important;
        padding: 0 !important;
    }
    .heading {
        text-align: center;
    }
    nav {
        margin: 0;
        background-color: $background;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -240px;
        transition: margin-top 0.5s ease;
        .logo {
            margin: 10px;
            padding-bottom: 4px;
            img {
                height: 30px;
                width: 30px;
            }
        }
        .navbar-links {
            margin-top: 10px;
            display: flex;
            align-items: center;
            background-color: $background;
            flex-direction: column;
            width: 100%;
            .switch {
                top: 7px;
                right: 10px;
            }
        }
        #search {
            bottom: -15%;
            input {
                transform: scaleX(100%);
            }
        }
    }
    .account-action {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 8.5px;
        right: 0;
        z-index: 1;
        margin: 10px;
        a {
            margin-right: 10px;
        }
    }
    .navbtn {
        position: absolute;
        top: 0px;
        z-index: 15;
        margin: 15px 0 0 15px;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        user-select: none;
        .line {
            width: 100%;
            margin: 15% 0;
            min-height: 2px;
            background-color: white;
            transform-origin: right;
            transform: rotate(0deg);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
        
    }
    .close {
        .line {
            min-width: 105%;
        }
        .line:first-child {
            transform-origin: right;
            transform: rotate(-45deg);
        }
        .line:last-child {
            transform-origin: right;
            transform: rotate(45deg);
        }
        .line:nth-child(2){
            opacity: 0;
        }
        
    }
}