
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$background: #242582;
$secondary: #F64C72;
$teritary: #553D67;
$extra: #99738E;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $background;
}

nav, .account-action {
    display: flex;
    margin: 20px 150px;
    justify-content: space-between;
    align-items: center;
    .navbar-links {
        position: relative;
        z-index: 10;
        a {
            color: white;
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
            }
        }
        .dropdown {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            .trigger {
                &:hover{
                    &+.menu {
                        display: flex;
                        top: 100%;
                    }
                }
            }
            .menu {
                display: none;
                position: absolute;
                flex-direction: column;
                background-color: white;
                box-shadow: 5px 5px 5px gray;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                left: 50%;
                transform: translateX(-50%);
                a {
                    flex: 1;
                    border-radius: 0;
                    margin: 0 20px;
                    padding: 25px 40px;
                    color: black;
                    border-bottom: 1px solid lightgray;
                    &:hover{
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
                &:hover {
                    display: flex;
                    top: 100%;
                }
            }
            &:hover {
                border-radius: 50px;
                background-color: $secondary;
            }
        }
        .hide{
            display: inline-flex;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        img {
            width: 25%;
            // margin-right: 25px;
        }
    }
    .counter{
        font-size: small;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }
}

.navbtn {
    display: none;
}

.account-action {
    display: none
}
.content {
    display: flex;
    font-size: 18px;
    background-color: white;
    border-radius: 50px;
    margin: 0px 5%;
    padding: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 25px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    margin: 50px auto;
    .heading {
        font-size:xx-large;
        font-weight: bold;
        margin: 25px 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .fields {
            text-align: left;
            display: flex;
            position: relative;
            margin: 10px;
            justify-content: space-between;
            align-items: center;
            label {
                font-weight: bold;
            }
            input {
                margin: 10px;
                font-size: large;
            }
            .error-icon {
                color: red;
                font-size: large;
                font-weight: bolder;
                position: absolute;
                right: 5%;
            }
            .errors {
                position: absolute;
                color: red;
                bottom: -35%;
                right: 0;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 25px 10px;
            button {
                background-color: $teritary;
                color: white;
                border: none;
                font-weight: bold;
                font-size: large;
                padding: 10px 40px;
                border-radius: 10px;
            }
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: border 0.5s ease-in-out;
    padding: 15px;
    margin: 10px;
    img {
        height: 300px;
        width: 300px;
    }
    .summary {
        font-size: large;
        padding: 10px;
        .name {
            font-weight: bold;
        }
        .price {
            &::before{
                content: 'Rs.';
            }
        }
    }
    &:hover {
        border: 1px solid $secondary;
    }
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    .image-showcase {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: 0 auto;
        .magnifier {
            display: none;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px black;
            position: absolute;
            pointer-events: none;
            transform: translate(-50%, -50%);
            transform-origin: top;
            background-repeat: no-repeat;
            background-color: white;
            transition: scale 0.5s ease;
        }
        .images {
            scroll-behavior: smooth;
            width: 500px;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            scrollbar-width: none;
            -ms-overflow-style: none;
            img {
                scroll-snap-align: center;
                margin: 10px;
                height: 500px;
            }
            &::-webkit-scrollbar {
                width: 0;
            }
        }
        .image-nav {
            padding: 3px 20px 10px 20px;
            background-color: $secondary;
            color: white;
            font-size: xx-large;
            font-weight: bolder;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 auto;
        .bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                .name {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .price {
                    &::before{
                        content: 'Rs.';
                    }
                }
            }
        }
        .buttons {
            margin: 20px 0;
            form {
                display: inline-flex;
                button {
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    &.buy {
                        font-weight: bolder;
                        background-color: $secondary;
                    }
                    &.cart {
                        background-color: $teritary;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .description {
            color: black;
        }
    }
}

.cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    h2 {
        margin: 20px;
    }
    .item {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        img {
            height: 200px;
            width: 200px;
        }
        .details {
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: space-evenly;

            .price, .total > span{
                &::before{
                    content: 'Rs.';
                }
            }
        }
    }
    .grand {
        margin: 20px;
        text-align: right;
        font-weight: bold;

        span {
            &::before {
                content: 'Rs.';
            }
        }
    }
    button{
        padding: 10px;
        background-color: $secondary;
        color: white;
        font-weight: bold;
        font-size: larger;
        border: none;
        cursor: pointer;
    }
}


$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    * {
        font-size: 15px;
    }
    nav {
        margin: 0;
        background-color: $background;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: -235px;
        transition: margin-top 0.5s ease;
        .logo {
            margin: 10px;
            img {
                display: none;
            }
        }
        .navbar-links {
            margin-top: 10px;
            display: flex;
            align-items: center;
            background-color: $background;
            flex-direction: column;
            width: 100%;
            .hide{
                display: none;
            }  
        }
    }
    .accounticon {
        position: relative;
        margin-left: 5px;
        .circle {
            position: absolute;
            top: 0;
            left: 2px;
            height: 10px;
            width: 10px;
            border-radius: 50px;
            background-color: white;
        }
        .bottom {
            position: absolute;
            top: 10px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: white;
            border-radius: 10px 10px 5px 5px;
        }
    }
    .account-action {
        display: flex;
        position: absolute;
        top: 4px;
        right: -30%;
        z-index: 5;
        padding-right: 10px;
        .navbar-links {
            a{
                padding: 0;
                &.cart{
                    display: inline;
                    .counter{
                        transform: translate(-50%, -50%);
                    }
                }
            }
            display: inline-flex;
            flex-direction: row;
        }
    }
    
    .navbtn {
        position: absolute;
        top: 5px;
        z-index: 15;
        margin: 10px 0 5px 10px;
        height: 35px;
        width: 30px;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        .line {
            width: 100%;
            margin: 15%;
            height: 2px;
            background-color: white;
            transform-origin: right;
            transform: rotate(0deg);
            transition: transform 0.5s ease, opacity 0.5s ease
        }
        
    }
    .close {
        .line:first-child {
            transform-origin: right;
            transform: rotate(-45deg);
        }
        .line:last-child {
            transform-origin: right;
            transform: rotate(45deg);
        }
        .line:nth-child(2){
            opacity: 0;
        }
        
    }
    .content {
        z-index: 1;
        margin: 10px 10px;
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        flex-direction: column;
        position: relative;
        .image-showcase{
            justify-content: center;
            .images{
                width: 250px;
                img{
                    height: 250px;
                }
            }
            .image-nav {
                padding: 0 10px 6px 10px;
                font-size: x-large;
            }
        }
        .details{
            width: 100%;
            margin: 10px;
            .buttons {
                display: flex;
                position: fixed;
                left: 0;
                bottom: 0;
                margin: 0;
                width: 100%;
                height: 10%;
                form {
                    flex: 1;
                    justify-content: center;
                    button {
                        display: flex;
                        border-radius: 0;
                        border: none;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                    }
                }
            }
        }
    }
    .auth-form {
        margin: 0;
        .heading {
            text-align: center;
        }
        form {
            align-items: flex-start;
            .fields {
                flex-direction: column;
                align-items: flex-start;
                margin: 20px 0;
                input{
                    margin: 10px 0;
                    padding: 10px 0;
                }
                .errors {
                    top: 100%;
                    left: 0;
                    transform: translateY(-40%);
                }
            }
            .buttons {
                width: 100%;
                margin: 10px auto;
                flex-direction: column;
                button {
                    margin: 10px 0;
                }
            }
        }
    }
    .cart{
        h2{
            font-size: 26px;
        }
        margin: 0;
    }
}