{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cart
{% endblock title %}
    
{% block content %}
<div class="cart">
    <h2>Cart</h2>
    {% for product in products %}
        <div class="item">
            <img src="{{product.thumbnail.url}}">
            <div class="details">
                <div class="name">
                    {{product.name}}
                </div>
                <div class="price">
                    {{product.price}}
                </div>
                <div class="qty">
                    Quantity
                    <div>
                        <button data-sign="-">-</button>
                        <input type="text" name="qty" value="1">
                        <button data-sign="+">+</button>
                    </div>
                </div>
                <div class="total">
                    Total  <div>{{product.price}}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="grand">Total: <span></span></div>
    <button>Checkout</button>
</div>
<script src="{% static 'js/dynamicCart.js' %}"></script>
{% endblock content %}
