{% extends 'base.html' %}
{% load static %}

{% block title %}
    Palm Tees
{% endblock title %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/product-grid.css' %}">
{% endblock extrastyles %}
    
{% block content %}
<div class="product-grid">
    {% for product in products %}
        <a class="product" href="product/{{product.id}}/">
            <img src="{{product.thumbnail.url}}"/>
            <div class="summary">
                <div class="name">{{product.name}}</div>
                <div class="price">{{product.price}}</div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}