{% extends 'base.html' %}

{% block title %}
    Login - Palm Tees
{% endblock title %}

{% block content %}
<div class="auth-form">
	<div class="heading">
		Login
	</div>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			<div class="fields">
				<label for="id_{{field.name}}">{{field.label}}</label>
				{{field}}
				{% if field.errors %}
					<div class="errors">
						{% for error in field.errors %}
							{{error}}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
		<div class="buttons">
			<button>Login</button>
			<a href="{% url 'signup' %}">I don't have account</a>	
		</div>
	</form>
</div>
{% endblock content %}