{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login - Palm Tees
{% endblock title %}

{% block extrastyles %}
	<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock extrastyles %}

{% block content %}
<div class="heading">
	Login
</div>
<form id="authentication" method="post">
	{% csrf_token %}
	{% for field in form %}
		<div class="fields">
			<label for="id_{{field.name}}">{{field.label}}</label>
			{{field}}
			{% if field.errors %}
				<div class="errors">
					{% for error in field.errors %}
						{{error}}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endfor %}
	<div class="buttons">
		<button>Login</button>
		<a href="{% url 'signup' %}">I don't have account</a>	
	</div>
</form>
<script src="{% static 'js/showPassword.js' %}"></script>
{% endblock content %}