{% extends 'base.html' %}

{% block title %}
    Profile - Palm Tees
{% endblock title %}

{% block content %}
<div class="heading">
    Profile
</div>

<div class="userdetails">
    <div class="section">
        Name : {{request.user.get_full_name}}
    </div>
    <div class="section">
        Email : {{request.user.email}}
    </div>
    <div class="section">
        Mobile no. : {{request.user.phone}}
    </div>
</div>

<div class="heading">Manage Addresses</div>
<div class="addresslist">
    {% for address in request.user.address.all %}
        <div class="addressitem">
            <form action="{% url 'address' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{address.id}}">
                <input type="text" name="name" placeholder="Name" value="{{address.name}}" required>
                <textarea name="address" placeholder="Address" required>{{address.address}}</textarea>
                <input type="text" name="city" placeholder="City" value="{{address.city}}" required>
                <select name="state">
                    {% for item in statelist %}
                        <option 
                        {% ifequal item.0 address.state  %}
                            selected
                        {% endifequal %}
                            value="{{item.0}}">
                            {{item.1}}
                        </option>
                    {% endfor %}
                </select>
                <input type="text" name="pincode" placeholder="Pincode" value="{{address.pincode}}" required>
                <div class="actions">
                    <button id="edit" name="action" value="edit" class="edit">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button type="submit" class="delete" id="delete" name="action" value="delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </form>
        </div>
    {% endfor %}
    
    {% if request.user.address.count < 6 %}
    <div class="addressitem newaddress">
        <button id="new">
            <i class="fas fa-plus fa-2x"></i>
        </button>
        <form method="post" action="{% url 'address' %}">
            {% csrf_token %}
            {% for field in form %}
                {{field}}
            {% endfor %}     
            <div class="actions">
                <button type="submit" name="action" value="create" class="edit" id="save">
                    <i class="fas fa-save"></i>
                </button>
                <button type="button" class="delete" id="cancel">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </form>
    </div>
    {% endif %}      
</div>
<script>
    btns = document.querySelectorAll('.addresslist button')
    btns.forEach(btn => {
        btn.addEventListener('click', btnActions) 
    })
    function editBtn (ele) {
        icon = ele.children[0]
        addressItem = ele.parentElement.parentElement
        try {
            cancelBtn = ele.nextElementSibling
            addressItem.querySelectorAll('input, textarea, select').forEach(inp => {
                inp.style.borderColor = 'lightgray'
                inp.style.pointerEvents = "all"
            })
            icon.classList.toggle('fa-save')
            icon.classList.toggle('fa-pen')
            ele.id == 'edit' ? ele.id = 'save' : ele.id = 'edit'
            cancelBtn.id = 'undo'
            icon = cancelBtn.children[0]
            icon.classList.toggle('fa-times')
            icon.classList.toggle('fa-trash')
        } catch (TypeError) {
            edit = ele.previousElementSibling
            addressItem.querySelectorAll('input, textarea, select').forEach(inp => {
                inp.style.borderColor = 'transparent'
                inp.style.pointerEvents = "none"
            })
            edit.id = 'edit' 
            icon.classList.toggle('fa-trash')
            icon.classList.toggle('fa-times')
            icon = edit.children[0]
            icon.classList.toggle('fa-save')
            icon.classList.toggle('fa-pen')
            
        }
    }
    function btnActions(e){
        switch(this.id){
            case 'new':
                this.style.opacity = '0'
                setTimeout(()=>{
                    this.style.display = 'none'
                }, 500)
                break
            case 'edit':
                e.preventDefault()
                editBtn(this)
                break
            case 'cancel':
                const newBtn = document.querySelector('#new')
                newBtn.style.opacity = '1'
                newBtn.style.display = 'block'
                break
            case 'undo':
                e.preventDefault()
                editBtn(this)
                break
        }
    }
</script>
{% endblock content %}