{% extends 'base.html' %}

{% block title %}
    Sign Up - Palm Tees
{% endblock title %}

{% block content %}
<div class="auth-form">
    <div class="heading">
        Signup
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fields">
                <label for="id_{{field.name}}">{{field.label}}</label>
                {{field}}
                {% if field.errors %}
                    <div class="errors">
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    </div>
                {% endif %}
            <!-- {% if field.help_text %}
                <small >{{ field.help_text }}</small>
            {% endif %} -->
            </div>
        {% endfor %}
        <div class="buttons">
            <button>Create account</button>
            <a href="{% url 'login' %}">Already have an account</a>
        </div>
    </form>
</div>
<script>
    const passwords = document.querySelectorAll('input[type="password"]')

    eyeIcon = document.createElement('i')
    eyeIcon.classList.add('fa', 'fa-eye')

    passwords[0].parentElement.appendChild(eyeIcon)

    eyeIcon.addEventListener('click', () => {
        eyeIcon.classList.toggle('fa-eye')
        eyeIcon.classList.toggle('fa-eye-slash')
        passwords.forEach(password => {
            password.type == 'text' ? password.type ='password' : password.type = 'text'
        })
    })
</script>
{% endblock content %}