{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>{% block title %}Page title{% endblock %}</title>	
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
	<button class="navbtn">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</button>
	<nav>
		<a class="logo" href="/">
			<img src="{% static 'logo.png' %}" alt="" srcset="">
			PalmTees
		</a>
		<!-- <form >
			<input type="search" placeholder="Search" aria-label="Search">
			<button type="submit">Search</button>
		</form> -->
		<div class="navbar-links">
			<a href="#">Trending</a>
			<a href="#">Couple</a>
			<a href="#">Games</a>
			
			<div class="dropdown">
				<a class='trigger'>
					Web Series
				</a>
				<div class="menu">
					<a href="#">English</a>
					<a href="#">Hindi</a>
				</div>
			</div>
			<a href="#">Hollywood</a>
			<div class="dropdown">
				<a class='trigger'>
					Quotes
				</a>
				<div class="menu">
					<a href="#">Funny</a>
					<a href="#">Inspirational</a>
				</div>
			</div>
			<div class="hide">
			{% if request.user.is_authenticated %}
				<a href="{% url 'cart' %}">
					Cart
					<span class="counter">
						{{request.user.cart.count}}
					</span>
				</a>
				<div class="dropdown">
					<a class='trigger'>
					Hello, {{request.user.get_short_name}}
					</a>
					<div class="menu">
						<a href="{% url 'profile' %}">Profile</a>
						<a href="{% url 'logout' %}">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="{% url 'login' %}">Login/Signup</a>
			{% endif %}
			</div>
		</nav>
		<div class="account-action">
			<div class="navbar-links">
			{% if request.user.is_authenticated %}
			<a class="cart" href="{% url 'cart' %}">
				Cart
				<span class="counter">
					{{request.user.cart.count}}
				</span>
			</a>
			<div class="dropdown">
				<a class='trigger'>
				<div class="accounticon">
					<div class="circle"></div>
					<div class="bottom"></div>
				</div>
				</a>
				<div class="menu">
					<a href="{% url 'profile' %}">Profile</a>
					<a href="{% url 'logout' %}">Logout</a>
				</div>
			</div>
		{% else %}
			<a href="{% url 'login' %}">Login</a>
		{% endif %}
			</div>
		</div>
	<div>
	{% if messages %}
		{% for message in messages %}
		<div>
			{{ message }}
			<button type="button" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	{% endif %}
	</div>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	<footer>
		@salmannotkhan
	</footer>
	<script>
		const navBtn = document.querySelector('.navbtn')
		const navbar = document.querySelector('nav')
		navBtn.addEventListener('click', ()=>{
			margin = window.getComputedStyle(navbar).marginTop
			if (margin === '-235px') {
				navbar.style.marginTop = '0%'
				navBtn.classList.add('close')
			}
			else {
				navBtn.classList.remove('close')
				navbar.style.marginTop = '-235px'
			}
		})
	</script>
</body>
</html>