{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>{% block title %}Page title{% endblock %}</title>	
	<link rel="icon" href="{% static 'images/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<script src="https://kit.fontawesome.com/293dd6a7e8.js" crossorigin="anonymous" defer></script>
</head>
<body>
	<div class="navbtn">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	<nav>
		<a class="logo" href="/">
			<img src="{% static 'images/logo.png' %}" alt="" srcset="">
			PalmTees
		</a>
		<div class="navbar-links">
			<a href="#">Trending</a>
			<a href="#">Couple</a>
			<a href="#">Games</a>
			<div class="dropdown">
				<a class='trigger'>
					Web Series
				</a>
				<div class="menu">
					<a href="#">English</a>
					<a href="#">Hindi</a>
				</div>
			</div>
			<a href="#">Hollywood</a>
			<div class="dropdown">
				<a class='trigger'>
					Quotes
				</a>
				<div class="menu">
					<a href="#">Funny</a>
					<a href="#">Inspirational</a>
				</div>
			</div>
		</div>	
		<span class="account-action">
			{% if request.user.is_authenticated %}
			<a class="cart" href="{% url 'cart' %}">
				<i class="fas fa-shopping-cart"></i>
				{% ifnotequal request.user.cart.count 0%}
				<span class="counter">
					{{request.user.cart.count}}
				</span>
				{% endifnotequal %}
			</a>
			<div class="dropdown">
				<a class='trigger'>
					<i class="fas fa-user"></i>
					</a>
					<div class="menu">
						<a href="{% url 'profile' %}">Profile</a>
						<a href="{% url 'logout' %}">Logout</a>
					</div>
				</div>
				{% else %}
				<a href="{% url 'login' %}">Login</a>
				{% endif %}
			</span>
			<!-- <form id="search">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
				<input type="search">
			</form> -->
		</nav>
	<div>
	{% if messages %}
		{% for message in messages %}
		<div>
			{{ message }}
			<button type="button" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	{% endif %}
	</div>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	<footer>
		<a href="http://www.github.com/salmannotkhan">
		@salmannotkhan
		</a>
	</footer>
	<script src="{% static 'js/mobileNavigation.js' %}" defer></script>
</body>
</html>